<div class="px-4 flex flex-col items-center">
  <h2 class="flex text-2xl gap-2">
    <span class="font-bold text-white">NOSSOS</span>
    <span class="font-bold text-vermelho-vivo">SERVIÇOS</span>
  </h2>

  <div class="mt-2 flex flex-col justify-between gap-2 lg:flex-row">
    @for (servico of servicos; track $index) {
      <app-servico
        [nomeServico]="servico.nome"
        [texto]="servico.texto"
        [descricaoImg]="servico.descricaoImg"
        [urlImg]="servico.urlImg"
        [corFundo]="servico.corFundo">
      </app-servico>
    }
  </div>
</div>
