<div class="justify-around p-4 mt-2">
  <div class="w-full flex flex-col items-center">
        <h2 class="flex text-2xl gap-2">
      <span class="font-bold text-white">LOCALIZAÇÃO</span>
    </h2>
  </div>
  <div class="flex flex-col gap-8 align-middle pt-2">
    <div class="flex flex-col gap-2 items-center text-center">
      <h4 class="text-xl text-white">Visite uma de nossas unidades!</h4>
      <div class="w-[90vw]">
        <h3 class="text-white text-lg">Belo Horizonte - MG</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7505.6639782930515!2d-43.924771764187916!3d-19.847060615336165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa69ac935a9b7cb%3A0x1bafa4fd56924490!2sR.%20Jos%C3%A9%20Arnaldo%20Teixeira%2C%2051%20-%20Aar%C3%A3o%20Reis%2C%20Belo%20Horizonte%20-%20MG%2C%2031814-600!5e0!3m2!1spt-BR!2sbr!4v1731092469091!5m2!1spt-BR!2sbr"
          width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
      <div class="w-[90vw]">
        <h3 class="text-white text-lg">São Mateus - ES</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3779.6408438565813!2d-39.86464108846564!3d-18.680106082371417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xca0cd6dc7b3e25%3A0xfc6ac9441c4c64a0!2sR.%20Bela%20Vista%2C%2090%20-%20Litor%C3%A2neo%2C%20S%C3%A3o%20Mateus%20-%20ES%2C%2029932-670!5e0!3m2!1spt-BR!2sbr!4v1731093629730!5m2!1spt-BR!2sbr"
          width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
      <div class="w-[90vw]">
        <h3 class="text-white text-lg">Nova Viçosa - BA</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3796.8579682670793!2d-39.86197838848109!3d-17.892093683013176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xcaaf7fde8fde79%3A0xaad3034c043c5234!2sR.%20Henrique%20Sulz%2C%20108%20-%20Posto%20da%20Mata%2C%20Nova%20Vi%C3%A7osa%20-%20BA%2C%2045920-000!5e0!3m2!1spt-BR!2sbr!4v1731093802575!5m2!1spt-BR!2sbr"
          width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </div>
</div>
