<main class="main">
  <div class="min-h-lvh bg-marrom-chumbo">
    <nav>
      <app-header class="w-full fixed"></app-header>
    </nav>
    <main class="flex flex-col gap-6 pt-12">
      <app-sobre id="sobre"></app-sobre>
      <app-servicos id="servicos"></app-servicos>
      <app-contatos id="contatos"></app-contatos>
      <app-localizacao id="localizacao"></app-localizacao>
      <!-- <app-galeria id="galeria"></app-galeria> -->
      <app-parceiros id="parceiros"></app-parceiros>
    </main>
  </div>
</main>

<router-outlet />
