<div class="mt-4 mx-2 md:mx-0 p-4 flex flex-col md:flex-row bg-white">
  <div class="md:w-8/12 flex flex-col gap-4 text-left items-center">
    <h2 class="flex text-2xl gap-2">
      <span class="font-bold">QUEM</span>
      <span class="font-bold text-vermelho-vivo">SOMOS</span>
    </h2>
    <p class="text-sm">
      Somos três amigos: Márcio, Fabiana e Nilcimar, com habilidades e paixões complementares, que se uniram para criar
      a Planeta Cão em 2019. Márcio, gestor de segurança empresarial e cinófilo profissional, trouxe sua expertise em
      segurança e comportamento canino. Fabiana, médica veterinária, contribuiu com seus profundos conhecimentos em
      saúde animal. Já Nilcimar, adestrador e criador especializado em cães de grande porte, complementou a equipe com
      sua experiência em treinamento e cuidados com cães de diversas raças.

      <br><br>
      A ideia de criar a Planeta Cão surgiu quando Márcio decidiu empreender, buscando unir suas paixões com as de seus
      amigos. A empresa foi concebida com o objetivo de oferecer serviços de alta qualidade para cães, atendendo de
      forma eficiente e personalizada às necessidades de cada animal e de seus tutores.

      <br><br>
      Nosso compromisso é garantir o bem-estar dos cães, cumprindo todas as exigências legais e superando as
      expectativas dos nossos clientes. Com a união de nossas experiências e conhecimentos, buscamos nos tornar
      referência no mercado pet, oferecendo serviços que vão além dos cuidados básicos, como adestramento, hospedagem e
      cuidados veterinários.
    </p>
  </div>
  <div class="hidden md:flex justify-center md:w-4/12">
    <img src="/canil/logo_CPC.jpg" alt="Logo do Canil Planeta Cão" class="w-full max-w-64">
  </div>
</div>
